* {
    transition: all 2s ease-in-out;
}

.marioNet {
    width: 400px;
    height: 400px;
    /* background-color: #afafaf; */
    position: relative;
    z-index: 110;
    position: absolute;
}

/* Body Parts */

.bigBP {
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.BP {
    /* border: 1px solid rgb(24, 26, 17); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.body {
    width: 15%;
    height: 30%;

    position: absolute;
    top: 25%;
    left: 42.5%;
}

.topBody {
    width: 100%;
    height: 100%;

    position: absolute;
    top: -100%;
    left: 0%;
    transform-origin: bottom center;

    background-image: url(./pictures/topBody.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    z-index: 20;
}

.lowerBody {
    width: 100%;
    height: 50%;

    position: absolute;
    bottom: 0%;
    left: 0%;
    transform-origin: bottom center;

    background-image: url(./pictures/lowerBody.png);
    background-position: center;
    background-size: 120% 135%;
    background-repeat: no-repeat;
}

/* General */

.head {
    width: 100%;
    height: 100%;
    /* border-radius: 50%; */

    position: absolute;
    top: -95%;
    left: 5%;
    transform-origin: bottom center;

    background-image: url(./pictures/head.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.neck {
    width: 35%;
    height: 35%;
    border-radius: 50%;

    position: absolute;
    top: -10%;
    left: 35%;
    transform-origin: bottom center;

    background-image: url(./pictures/neck.png);
    background-position: center;
    background-size: 200% 280%;
    background-repeat: no-repeat;

    z-index: -60;
}

.arms {
    width: 33%;
    height: 200%;

    position: absolute;
    top: 20%;
    transform-origin: top center;
}

.topArm {
    width: 70%;
    height: 40%;

    position: absolute;
    top: 0%;
    transform-origin: top center;

    z-index: -30;
}

.lowerArm {
    width: 100%;
    height: 120%;

    position: absolute;
    top: 100%;
    transform-origin: top center;
}

.hands {
    width: 200%;
    height: 50%;
    /* border-radius: 50%; */

    position: absolute;
    top: 100%;
    transform-origin: top center;
    z-index: 32;
}

.legs {
    width: 50%;
    height: 200%;

    position: absolute;
    top: 100%;
    transform-origin: top center;
}

.topLeg {
    width: 100%;
    height: 50%;

    position: absolute;
    top: 0%;
    transform-origin: top center;
    z-index: -1;
}

.lowerLeg {
    width: 75%;
    height: 100%;

    position: absolute;
    top: 100%;
    transform-origin: top center;
}

.foots {
    width: 150%;
    height: 50%;
    /* border-radius: 50%; */

    position: absolute;
    top: 100%;
    transform-origin: top center;
}

.articArm {
    /* border: 1px solid red;
    background-color: black; */
    border-radius: 50%;
    position: absolute;
    transform-origin: center;
    z-index: -20;

    background-image: url(./pictures/TAR.png);
    background-position: center;
    background-size: 200% 200%;
    background-repeat: no-repeat;
}

.articLeg {
    /* border: 1px solid red;
    background-color: black; */
    border-radius: 50%;
    position: absolute;
    transform-origin: center;
    z-index: -20;

    background-image: url(./pictures/TLR.png);
    background-position: center;
    background-size: 200% 200%;
    background-repeat: no-repeat;
}

.articCenterArm {
    /* border: 1px solid blue; */
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: absolute;
    bottom: -10%;
    left: 0%;

    background-image: url(./pictures/TAR.png);
    background-position: center;
    background-size: 200% 200%;
    background-repeat: no-repeat;
}

.articCenterLeg {
    /* border: 1px solid blue; */
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: absolute;
    bottom: -15%;
    left: 15%;

    background-image: url(./pictures/TLR.png);
    background-position: center;
    background-size: 200% 200%;
    background-repeat: no-repeat;
}

.articBody {
    /* border: 1px solid rgb(16, 16, 22); */
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    bottom: 50%;
    left: 0%;

    background-image: url(./pictures/topBody.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    z-index: -40;
}

.articFoot {
    /* border: 1px solid blue; */
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: absolute;
    bottom: -10%;
    left: 20%;

    background-image: url(./pictures/TLR.png);
    background-position: center;
    background-size: 200% 200%;
    background-repeat: no-repeat;

    /* z-index: -70; */
}

.articHand {
    /* border: 1px solid blue; */
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    position: absolute;
    bottom: -10%;
    left: 20%;

    background-image: url(./pictures/handL.png);
    background-position: top;
    background-size: 400% 400%;
    background-repeat: no-repeat;
}

/* Particular */

/* Arms */
.leftArm {
    left: -25%;
}

.rightArm {
    right: -25%;
}

/* Hands  */
.leftHand {
    left: -50%;
    background-image: url(./pictures/handL.png);
    background-position: center;
    background-size: 50% 100%;
    background-repeat: no-repeat;
}

.rightHand {
    right: -50%;
    background-image: url(./pictures/handR.png);
    background-position: center;
    background-size: 50% 100%;
    background-repeat: no-repeat;
}

/* Legs */
.leftLeg {
    left: 0%;
}

.rightLeg {
    right: 0%;
}

/* Foots */
.leftFoot {
    left: -25%;
    background-image: url(./pictures/footL.png);
    background-position: top;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.rightFoot {
    right: -25%;
    background-image: url(./pictures/footR.png);
    background-position: center;
    background-size: 100% 120%;
    background-repeat: no-repeat;
}

/* Artics */

.articLA {
    top: -5%;
    width: 1em;
    height: 1em;
}
.articRA {
    top: -5%;
    width: 1em;
    height: 1em;
}
.articLL {
    top: -10%;
    width: 100%;
    height: 20%;
}
.articRL {
    top: -10%;
    width: 100%;
    height: 20%;
}

/*Lower Leg Right*/
.LLR {
    background-image: url(./pictures/LLR.png);
    background-position: center;
    background-size: 90% 120%;
    background-repeat: no-repeat;
}
/*Lower Leg Left*/
.LLL {
    background-image: url(./pictures/LLL.png);
    background-position: center;
    background-size: 90% 120%;
    background-repeat: no-repeat;
}
/*Lower Arm Right*/
.LAR {
    background-image: url(./pictures/LAR.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
/*Lower Arm Left*/
.LAL {
    background-image: url(./pictures/LAL.png);
    background-position: center;
    background-size: 90% 100%;
    background-repeat: no-repeat;
}

/*Top Leg Right*/
.TLR {
    background-image: url(./pictures/TLR.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
/*Top Leg Left*/
.TLL {
    background-image: url(./pictures/TLL.png);
    background-position: center;
    background-size: 90% 100%;
    background-repeat: no-repeat;
}
/*Top Arm Right*/
.TAR {
    background-image: url(./pictures/TAR.png);
    background-position: center;
    background-size: 100% 125%;
    background-repeat: no-repeat;
}
/*Top Arm Left*/
.TAL {
    background-image: url(./pictures/TAL.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
